@import "variables";

.about__content {
  position: relative;

  .about__title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;

    .title {
      text-align: center;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        background-color: $orange;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        z-index: -1;
        margin-left: 60px;
      }
    }
  }

  .about__main {
    position: relative;

    .left-side, .right-side {
      padding: 0 25px;
    }
    
    .about__main-item {
      position: relative;
      padding-bottom: 50px;

      .left {
        display: flex;
        flex-direction: row-reverse;

        .about__main-item-info-name {
          padding-right: 20px;
        }

        img {
          left: 0;
          top: -33px;
          border-radius: 20px;
        }
      }

      .right {
        display: flex;

        .about__main-item-info-name {
          padding-left: 20px;
        }

        img {
          right: 0;
          top: -33px;
          border-radius: 20px;
        }
      }

      .about__main-item-info {
        height: 170px;
        align-items: center;
        justify-content: space-between;
        background-color: $orange;
        border-radius: 20px;
        margin-bottom: 20px;

        .about__main-item-info-name {
          h3 {
            font-size: $logo;
            font-weight: 400;
            margin-bottom: 10px;
          }

          h4 {
            font-size: $bigger;
            width: min-content;
            font-weight: 400;
          }
        }
      }

      img {
        position: absolute;
        width: 140px;
        height: auto;
      }


      .about_main-item-description {
        font-family: "Lora", serif;
        font-size: $regular-text;
      }

    }
  }
}

