@import "variables";

.header {
  display: flex;
  justify-content: end;
  position: relative;
  text-align: center;
  font-size: $bigger;
  padding: 0 0 30px 30px;
  height: 100px;
  z-index: 1;

  .active{
    &:before{
      content: '';
      position: absolute;
      background-color: $orange;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      z-index: -1;
      margin-top: -140px;
      margin-left: -70px;
    }
  }}

.circle {
  position: absolute;
  display: block;
  top: -62px;
  left: -62px;
  background-color: $orange;
  padding: 62px;
  border-radius: 50%;
}

.logo {
  width: max-content;
  font-size: $bigger;
  font-weight: 400;
  margin: 0 auto;

  padding-top: 40px;
  position: absolute;
  left: 80px;
}
.logo:hover{
  animation-name: menu;
  animation-duration: 1s;
}

.menu__desktop{
  width: 100%;
  visibility: hidden;
  display: none;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    li a{
      color: white;
    }
    .logo__desktop{
      font-size: 36px;
    }
  }
}
.visible{
  display: block;
  visibility: visible;
}



.menu-bcg{
  background-color: $orange;
}

.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 20px 0 20px 20px;
  gap: 10px;
  z-index: 2;
  overflow: hidden;
}

.menu i {
  padding: 40px 30px;
  z-index: 3;
  margin-right: 0;
}

.menu__links{
  position: absolute;
  top: 0;
  right: 0;
  background-color: $orange;
  border-radius: 20px 0 20px 20px;
  padding: 70px 30px 30px;
}

.menu__links ul {
  list-style: inside;
  text-align: start;
  min-width: 110px;
  font-size: $regular-text;
}
.menu__links a {
  color: white;
}

li.menu-item:not(:last-child) {
  margin-bottom: 5px;
}

.animateObject{
  position: absolute;
  width: 90px;
  height: 105px;
  background-color: $orange;
  border-radius: 20px 0 20px 20px;
}