@import "variables";

.lookBook {
  .title{
    &::before{
      content: '';
      background-color: $orange;
      position: absolute;
      width: 70px;
      height: 70px;
      margin-left: 25px;
      border-radius: 50%;
      z-index: -1;
    }
    &::after{
      content: '';
      background-color: $orange;
      position: absolute;
      width: 70px;
      height: 70px;
      margin-left: -90px;
      border-radius: 50%;
      z-index: -1;
    }
  }
  .carousel {
    cursor: grab;
    overflow: hidden;
    margin-bottom: 50px;

    .carousel__inner {
      display: flex;

      .slide {
          padding-left: 22px;
        &:last-of-type{
          padding-right: 25px;
        }
        &:first-of-type,{
          padding-left: 25px;
        }

        .slide-info {
          font-size: $regular-text;

          &:not(:last-of-type) {
            padding-bottom: 5px;
          }
        }

        img {
          margin-bottom: 20px;
          width: 150px;
          height: 100px;
          border-radius: 20px;
        }
      }
    }
  }

  .review{
      .numeration{
        display: flex;
        min-width: 100px;
        max-width: 100px;
        margin: 0 auto;
        justify-content: space-between;
        .inactive{
          width: 10px;
          height: 10px;
          background-color: #ffffff88;
          border-radius: 50%;
        }
        .active{
          width: 10px;
          height: 10px;
          background-color: #ffffff;
          border-radius: 50%;
        }
      }
  }
}
