@import "variables";

.lookBook {
  .carousel {
    cursor: grab;
    overflow: hidden;
    margin-bottom: 50px;

    .carousel__inner {
      display: flex;

      .slide {
          padding-left: 22px;
        &:last-of-type{
          padding-right: 25px;
        }
        &:first-of-type,{
          padding-left: 25px;
        }

        .slide-info {
          font-size: $regular-text;

          &:not(:last-of-type) {
            padding-bottom: 5px;
          }
        }

        img {
          margin-bottom: 20px;
          width: 150px;
          height: 100px;
          border-radius: 20px;
        }
      }
    }
  }
}
