@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.fromRight {
  animation: animationFromRight 0.5s 1;
}

.fromLeft {
  animation: animationFromLeft 0.5s 1;
}

.fromTop {
  animation: animationFromTop 0.5s 1;
}

.fromBottom {
  animation: animationFromBottom 0.5s 1;
}

.fromBottomTitle {
  animation: animationFromBottomTitle 0.5s 1;
}

@keyframes animationFromRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromTop {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromBottom {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromBottomTitle {
  0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 550px) {
  @keyframes animationFromRight {
    0% {
      transform: translateX(760px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromLeft {
    0% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromTop {
    0% {
      transform: translateY(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromBottom {
    0% {
      transform: translateY(800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromBottomTitle {
    0% {
      transform: translateY(1200px);
    }
    100% {
      transform: translateX(0);
    }
  }
  body .title {
    font-size: 6.6875rem;
  }
  body .home__content {
    gap: 10px;
  }
  body .home__content img {
    width: 100% !important;
    height: 202px;
  }
  body .home__content .left {
    max-width: 451px;
  }
  body .home__content .left h1 {
    text-align: start;
  }
  body .home__content .left h1::before {
    width: 126px;
    height: 126px;
    margin-left: 30px;
  }
  body .home__content .right {
    max-width: 451px;
    gap: unset;
    align-items: flex-start;
  }
  body .home__content .right .subtitle {
    visibility: hidden;
    display: none;
  }
  body .home__content .right span::before {
    width: 90px;
    height: 90px;
    margin-left: 180px;
    margin-top: 150px;
  }
  body .home__content .right .tablet-title {
    margin-top: 40px;
    display: block;
    visibility: visible;
    text-align: start;
  }
  body .home__content .bcg-circle {
    border-radius: 20px !important;
    width: 236px;
    height: 236px;
    bottom: 100px;
  }
  body .services__content {
    padding: 0 25px;
  }
  body .services__content .title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    margin-left: 170px !important;
    width: 124px !important;
    height: 124px !important;
    border-radius: 50%;
    z-index: -1;
  }
  body .services__content .services__main-item {
    grid-column-gap: 30px !important;
    display: grid !important;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title image" "description image";
    max-width: 736px !important;
    align-items: end !important;
  }
  body .services__content .services__main-item:nth-of-type(2) {
    grid-template-areas: "image title " "image description";
  }
  body .services__content .services__main-item img {
    grid-area: image;
    width: unset !important;
    max-width: 100% !important;
    height: 202px !important;
  }
  body .services__content .services__main-item h3 {
    grid-area: title;
    font-size: 36px !important;
    width: unset !important;
  }
  body .services__content .services__main-item p {
    grid-area: description;
  }
  body .services__content .services__main-item .first-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-top: -50px !important;
    margin-left: 100px !important;
  }
  body .services__content .services__main-item .second-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-left: 130px !important;
    margin-top: -50px !important;
  }
  body .services__content .services__main-item .third-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-top: -30px !important;
  }
  body .lookBook .carousel .carousel__inner {
    display: flex;
  }
  body .lookBook .carousel .carousel__inner .slide {
    padding-left: 50px !important;
  }
  body .lookBook .carousel .carousel__inner .slide:last-of-type {
    padding-right: 50px !important;
  }
  body .lookBook .carousel .carousel__inner .slide:first-of-type {
    padding-left: 35px !important;
  }
  body .lookBook .carousel .carousel__inner .slide .slide-info {
    font-size: 1.125rem;
  }
  body .lookBook .carousel .carousel__inner .slide .slide-info:not(:last-of-type) {
    padding-bottom: 5px;
  }
  body .lookBook .carousel .carousel__inner .slide img {
    margin-bottom: 20px;
    width: 351px !important;
    height: 202px !important;
    border-radius: 20px;
  }
  body .lookBook .carousel .carousel__inner .slide .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  body .lookBook .carousel .carousel__inner .slide .slide-info {
    font-size: 28px;
  }
  body .lookBook .review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  body .lookBook .review .review__wrapper {
    max-width: 49%;
    min-width: 40%;
  }
  body .lookBook .review .review__wrapper .item__wrapper {
    min-height: max-content !important;
  }
  body .contact__content .contact__main-wrapper .contact__info {
    margin: 0 auto;
    max-width: 601px;
  }
  body .contact__content .contact__main-wrapper .contact__info .contact__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon subtitle" "icon description";
    align-items: center;
    gap: unset;
    grid-column-gap: 20px;
  }
  body .contact__content .contact__main-wrapper .contact__info .contact__container i {
    grid-area: icon;
    font-size: 50px;
  }
  body .contact__content .contact__main-wrapper .contact__info .contact__container h3 {
    grid-area: subtitle;
    font-weight: 700;
    font-size: 36px;
  }
  body .contact__content .contact__main-wrapper .contact__info .contact__container p {
    font-weight: 700;
    grid-area: description;
    font-size: 29px;
  }
  body .contact__content .contact__main-wrapper form {
    padding: 20px 30px;
  }
  body .contact__content .contact__main-wrapper form input, body .contact__content .contact__main-wrapper form textarea {
    padding: 10px 27px;
    font-size: 29px;
  }
  body .contact__content .contact__main-wrapper form input::placeholder, body .contact__content .contact__main-wrapper form textarea::placeholder {
    color: #464646 !important;
  }
  body .about__content .about__main {
    position: relative;
    margin: 0 auto;
    min-width: min-content;
    max-width: max-content;
  }
  body .about__content .about__main .box {
    display: block;
    position: absolute;
    width: 241px;
    height: 152px;
    background: #ED6D33;
    border-radius: 20px;
    z-index: -1;
    bottom: 0;
  }
  body .about__content .about__main .left1 {
    grid-template-areas: "image . ." "image name description" "image profession description" "image . .";
    grid-template-columns: 210px 1fr 2fr;
  }
  body .about__content .about__main .left1 .box {
    left: -30px;
  }
  body .about__content .about__main .right1 {
    grid-template-areas: ". . image" "description name image" "description profession image" ". . image";
    grid-template-columns: 2fr 1fr 210px;
    justify-items: end;
  }
  body .about__content .about__main .right1 .box {
    right: -30px;
  }
  body .about__content .about__main .about__main-item {
    margin-bottom: 30px;
    display: grid;
    max-width: 730px;
    grid-template-rows: repeat(4, 1fr);
    max-height: 260px;
    align-items: center;
    grid-column-gap: 20px;
  }
  body .about__content .about__main .about__main-item .name {
    display: block;
    visibility: visible;
    grid-area: name;
    margin: 40px auto 0;
    font-size: 29px;
    font-weight: 400;
  }
  body .about__content .about__main .about__main-item .profession {
    display: block;
    visibility: visible;
    grid-area: profession;
    margin: 0 auto 30px;
    font-size: 29px;
    font-weight: 400;
    width: min-content;
    text-align: center;
  }
  body .about__content .about__main .about__main-item .ourSpecialist {
    display: block;
    visibility: visible;
    grid-area: image;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 183px;
    min-width: 160px;
  }
  body .about__content .about__main .about__main-item img::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 60px;
  }
  body .about__content .about__main .about__main-item .about__main-item-info {
    display: none;
    visibility: hidden;
  }
  body .about__content .about__main .about__main-item p {
    grid-area: description;
  }
}
@media screen and (min-width: 1024px) {
  header .menu {
    display: none;
    visibility: hidden;
  }
  header .logo {
    visibility: hidden;
    display: none;
  }
  header .animateObject {
    width: 309px;
    z-index: -1;
  }
  header .menu__desktop {
    padding: 0 10% !important;
    display: block;
    visibility: visible;
  }
  header .circle {
    top: -19px;
    left: 33px;
    z-index: -1;
  }
}
body {
  background-color: #728267;
  color: white;
  width: 100vw;
}

main {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
