@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.fromRight {
  animation: animationFromRight 0.5s 1;
}

.fromLeft {
  animation: animationFromLeft 0.5s 1;
}

.fromTop {
  animation: animationFromTop 0.5s 1;
}

.fromBottom {
  animation: animationFromBottom 0.5s 1;
}

.fromBottomTitle {
  animation: animationFromBottomTitle 0.5s 1;
}

@keyframes animationFromRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromTop {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromBottom {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFromBottomTitle {
  0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 550px) {
  @keyframes animationFromRight {
    0% {
      transform: translateX(800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromLeft {
    0% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromTop {
    0% {
      transform: translateY(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromBottom {
    0% {
      transform: translateY(800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes animationFromBottomTitle {
    0% {
      transform: translateY(1200px);
    }
    100% {
      transform: translateX(0);
    }
  }
  body .title {
    font-size: 6.6875rem;
  }
  body .home__content {
    gap: 10px;
  }
  body .home__content img {
    width: 100% !important;
    height: 202px;
  }
  body .home__content .left {
    max-width: 351px;
  }
  body .home__content .left h1 {
    text-align: start;
  }
  body .home__content .left h1::before {
    width: 126px;
    height: 126px;
    margin-left: 30px;
  }
  body .home__content .right {
    max-width: 351px;
    gap: unset;
    align-items: flex-start;
  }
  body .home__content .right .subtitle {
    visibility: hidden;
    display: none;
  }
  body .home__content .right span::before {
    width: 90px;
    height: 90px;
    margin-left: 180px;
    margin-top: 150px;
  }
  body .home__content .right .tablet-title {
    margin-top: 40px;
    display: block;
    visibility: visible;
    text-align: start;
  }
  body .home__content .bcg-circle {
    border-radius: 20px !important;
    width: 236px;
    height: 236px;
    bottom: 100px;
  }
  body .services__content {
    padding: 0 25px;
  }
  body .services__content .services__main-item {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title image" "description image";
    max-width: 736px !important;
    align-items: end !important;
  }
  body .services__content .services__main-item:nth-of-type(2) {
    grid-template-areas: "image title " "image description";
  }
  body .services__content .services__main-item img {
    grid-area: image;
    width: unset !important;
    max-width: 100% !important;
    height: 202px !important;
  }
  body .services__content .services__main-item h3 {
    grid-area: title;
    font-size: 36px !important;
    width: unset !important;
  }
  body .services__content .services__main-item p {
    grid-area: description;
  }
  body .services__content .services__main-item .first-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-top: -50px !important;
    margin-left: 100px !important;
  }
  body .services__content .services__main-item .second-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-left: 130px !important;
    margin-top: -50px !important;
  }
  body .services__content .services__main-item .third-item-title::before {
    content: "";
    position: absolute;
    background-color: #ED6D33;
    width: 104px !important;
    height: 104px !important;
    margin-top: -30px !important;
  }
}
body {
  background-color: #728267;
  color: white;
}

main {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
