//COLORS
$green: #728267;
$darkgreen: #55644B;
$orange: #ED6D33;
$form-color: rgba(237, 109, 51, 0.45);

//FONT SIZE
$desktop-title-size: 12.5rem;
$tablet-title-size: 6.6875rem;
$phone-title-size: 3.5rem;
$logo: 2.25rem;
$bigger: 1.875rem;
$regular-text: 1.125rem;

